.input {
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 10px 20px;
  width: 35vh;
  border-radius: 25px;
  background-color: var(--bgColor);
}

.input:hover {
  background-color: var(--bgHover);
}

.input:focus {
  background-color: var(--bgFocus);
  border: 1px solid blue // TODO заменить на переменную
}