.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  outline: none;
  border: none;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--bgColor);
}

.input:hover {
  background-color: var(--bgHover);
}

.input:focus {
  background-color: var(--bgFocus);
  border: 1px solid blue // TODO заменить на переменную
}